<!--The content below is only a placeholder and can be replaced.-->

<div class="container mt-5">

  <!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map> -->
  <mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[14]" [center]="[-75.556, 6.24]">
    <!-- <mgl-marker  [lngLat]="[-75.556, 6.24]">
     <div class="marker">
	        Julio
     </div>
   </mgl-marker> -->
   <!-- <mgl-popup [lngLat]="[-75.556, 6.24]" [closeOnClick]="false">
     <h1>Hello world !</h1>
   </mgl-popup> -->
   <div>
     <mgl-marker [lngLat]="[-75.556, 6.24]" #myMarker anchor="bottom-left" style="position:absolute; top:0; bottom:0; width:100%;">
        <div class="marker">
          Salchicha
        </div>
      </mgl-marker>
      <mgl-popup [marker]="myMarker">
        Hello from marker !
      </mgl-popup>
    </div>
  </mgl-map>
</div>

